@CHARSET "ISO-8859-1";

.tableStock {
	background-color: yellow;
}

.tableSel{
	background-color: red;
}

.sapMLIB.sapMLIBSelected, .sapMLIB.sapMLIBSelected >td {
	background-color: #E80000;
}

#reportTable .sapMLIBTypeInactive
{
	background-color: Gray !important;
}

.test .sapMListTblSubCntRow {
	width: 35%;
}

.noCheckbox .sapMLIBSelectM {
      display:none;
}

.noCheckbox .sapMListTblSubCnt {
      padding-left: 1rem !important;
}

.synchroLabel {
			font-size: 0.7em !important ;
			float:left;
}

.sapMScrollbarV {
	width: 16px !important;
	background-color: #f7f7f7 !important;
	visibility:visible !important;
	top: 0;
  bottom: 0;
	right: 0.063rem;
}



.sapMLIB.sapMLIBSelected + .sapMListTblSubRow {
	background-color: #E80000;
}

.nameText {
	font-size: 0.8em !important;
}

#reportTable .sapMLIBTypeInactive + .sapMListTblSubRow
{
	background-color: Gray !important;
}

.dateStyle {

	font-size:0.9em !important;
}
